@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <br/>
    <h1 class="display-2">Welcome!</h1>
    <br/>
    <p2>If you have an account, please <a href="/login">login</a>.</p2>
    <br/>
    <p2>Or you can <a href="/registration">start registration</a>.</p2>
</div>

