@page
@model WebApplication_Dec2022.Pages.Pages_info
@{
    ViewData["Title"] = "Contact info";
}
<address>
    Vaclav Zinch<br>
    Kyiv, Ukraine<br>
    <abbr title="Phone">P:</abbr>
    +380XXXXXXXXX
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">support@example.com</a><br>
</address>

