
@page
@model WebApplication_Dec2022.Pages.Pages_Login
@{
    ViewData["Title"] = "Login";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/panel-heading.css" asp-append-version="true" />
</head>

<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div id="main-menu" class="collapse navbar-collapse">
            </div>
        </div>
    </div>
    <footer id="footer" class="container-center gap bottom-gap" role="contentinfo">
        <div class="container content" role="main">
            <div class="zone zone-content">
                <div class="row double-gap bottom-gap">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Login</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <form method="post">
        <p>
            <label>Email:</label><br />
            <input type="text" name="username" />
        </p>
        <p>
            <label>Password:</label><br />
            <input type="text" name="password" />
        </p>
        <p>
            <div class="col-sm-offset-3 col-sm-9">
                <br/>
                <button class="btn btn-primary" type="submit" name="button">Login</button>
            </div>
        <p/>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <br/>
                <a href="/registration">Registration</a>, if you have not account.
            </div>
        </div>
    </form>
</body>

               
